<h1> Admin Paneline Hoş Geldiniz </h1>
<p> Admin Ayarlamaları İçin Aşağıdaki Butonları Kullanabilirsiniz </p>

<a class="btn btn-outline-info" asp-controller="Role" asp-action="Index"> Kullanıcı Rolleri </a>
<a class="btn btn-outline-danger" asp-controller="User" asp-action="Index"> Kullanıcılar </a>